<ion-view title="Single Story" hide-back-button="true" id="page10" class=" ">
    <ion-content ng-controller="MainCtrl" padding="true" class="has-header">
        <div class="spacer" style="height: 10px;"></div>
        <div>
            <div id="image-table">
                <table>
                    <tr>
                        <td style="padding:3px">
                            <div >
                                <img ng-src="{{srcImage || 'img/pic2.jpeg'}}" id="srcImage" width="100%" height="250" style="display: block; " />
                                <button class="button button-positive " ng-click="takeImage()" style="margin-left:35%;">Take Image</button>
                            </div>
                        </td>
                        <!--  <td style="padding:3px">
                    <div ng-controller="VideoCtrl">
                        <img ng-src="{{urlForClipThumb(clip)}}" ng-click="showClip(clip)" style="height: 250px; width: 250px;">
                         <button class="button button-positive" ng-click="captureVideo()">Capture a video</button>
                         </div>
                    </td> -->
                    </tr>
                </table>
            </div>
            <br/>
            <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
                <img ng-repeat="id in ids" ng-src="{{srcImage}}" style="height:200px; padding: 5px 5px 5px 5px;">
            </ion-scroll>
        </div>
        <br/>
        <a ui-sref="tabsController.pROFILE({id: srcImage})" id="singleStory-button19" class=" button button-positive  button-block button-outline ">Post</a>
        <input type="file" name="image"/>
    </ion-content>
</ion-view>
